{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

        {{ form.csrf_token }}
        <h2 class="form">{{ _('Add Server') }}</h2>
        {{ render_field(form.cloud_provider) }}
      <div id='my_provider'></div>

<script>

$('#cloud_provider').change(function() {
   var id = $('[name="cloud_provider"] option:selected').val()
   $.getJSON('/deploy/provider/' + id,
         function(data) {
             $('#my_provider').load(data.url);
        })
});

</script> 

{% endblock %}

