{% extends "base.html" %}
{% block content %}
{% from "forms/macros.html" import render_field %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ _('Add server') }}</h4>
    </div>
    <div class="panel-body">
      <div class="well well-xs col-md-6">
        <form class="form" role="form" method="post">
            {{ form.csrf_token }}
            {{ render_field(form.cloud_provider) }}
            <div id='my_provider'></div>
        </form>
      </div>
    </div>
</div>

<script>
$('#cloud_provider').change(function() {
   var id = $('[name="cloud_provider"] option:selected').val()
   $.getJSON('/deploy/provider/' + id,
         function(data) {
             $('#my_provider').load(data.url);
        })
});
</script> 

{% endblock %}

