{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-primary btn-small" href="{{url_for('deploy.deploy_add')}}"><i class="icon-plus icon-white"></i> {{_('Add') }}</a></p>
  <table class="table table-bordered table-striped table-highlight tablesorter" id="servers-table">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('IP') }}</th>
        <th>{{ _('Instance') }}</th>
        <th>{{ _('Provider') }}</th>
      <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for l in list %}
      {% set url_delete = l.provider+'.server_delete' %}
      {% for s in l.sql %}
      <tr>
      <td>{{ s.name }}</td>
      <td class="status" id="status-{{ s.id }}">
      <div class="progress progress-warning" id="status-{{ s.id }}">
          <div class="bar" id="status-{{ s.id }}" data-percentage="0"></div>
      </div>
      </td>
      <td class="ip" id="ip-{{ s.id }}">{% if s.address %}<a href="https://{{ s.address }}" target="_blank">{{ s.address }}</a>{% endif %}</td>
      <td class="instance" id="instance-{{ s.id }}">{{ s.instance_ec2 }}</td>
      <td>{{ l.provider }} ({{ s.servers.name }})</td>
      <td class="td-actions">
        <a href="{{url_for(url_delete, id=s.id)}}" class="btn btn-small"><i class="btn-icon-only icon-remove"></i></a>
        {% if s.status == None %}
            <a href="{{url_for('deploy.deploy_cloud', provider=l.provider, id=s.id)}}" class="btn btn-small"><i class="btn-icon-only icon-upload"></i></a>
        {% elif s.status and s.status != 'running' %}
            <a href="{{url_for('deploy.deploy_stop_task', provider=l.provider, id=s.id)}}" class="btn btn-small btn-danger" id="btn-revoke-{{ s.id }}"><i class="btn-icon-only icon-ban-circle"></i></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>

<script>


function loadStatus() {

    $('.progress .bar').progressbar({
        display_text: 2,
        use_percentage: true,
        });

        $.getJSON('/deploy/status',
            function(data) {
                $.each( data, function( key, val ) {
                    if (val.progress == 0) { $('.progress#status-' + key).hide(); }
                    else { $('.progress#status-' + key).show(); };

                    if (val.status != 'running' && val.progress != 0) {
                        $('.bar#status-' + key).attr('data-percentage', val.progress); }
                    else if(val.status == 'running') {
                        $('.status#status-' + key).attr('id', 'status-'+key).text(val.status); };

                    if(val.status == 'running' || val.progress == 100) {
                        $('#btn-revoke-' + key).hide(); };

                    if(val.status != 'running' && val.progress == 100) {
                        $('.status#status-' + key).attr('id', 'status-'+key).text('Please waiting ...'); };

                    $('.ip#ip-' + key).attr('id', 'ip-'+key).html('<a href="https://' + val.ip + '" target="_blank">' + val.ip + '</a>');
                    $('.instance#instance-' + key).attr('id', 'instance-'+key).text(val.instance);

                })
            });
    $("#servers-table").tablesorter();
    setTimeout(loadStatus, 2000);
    }

loadStatus();

</script> 

</div>

{% endblock %}
