{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Edit Ssh configuration') }}</h2>
        {{ render_field(form.name, class="input-xlarge") }}
        {{ render_field(form.ip, class="input-xlarge") }}
        {{ render_field(form.login, class="input-xlarge") }}
        {{ render_field(form.password, class="input-xlarge") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

    </div>

{% endblock %}

