{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('ssh.provider_add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Ip') }}</th>
        <th>{{ _('Login') }}</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for l in list %}
      <tr>
      <td>{{ l.name }}</td>
      <td>{{ l.ip }}</td>
      <td>{{ l.login }}</td>
      <td class="td-actions">
        <a href="{{url_for('ssh.provider_edit', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('ssh.provider_delete', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
