{% extends "base.html" %}

{% block header %}
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery-ui.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery.jsPlumb-1.5.1.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/ivr.js') }}"></script>
    <link rel="stylesheet" media="screen" href="{{ url_for('ivr.static', filename='css/ivr.css') }}">
{% endblock %}

{% block content %}
<div id="ivr_menu">
    <button id="add" onclick="addState();" value="Add">Add</button>
</div>

<div id="ivr" style="border: 1px solid;  margin-left: 16%; height: 800px;">
</div>
{% endblock %}
