{% extends "base.html" %}

{% block header %}
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery.form.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/ajaxfileupload.js') }}"></script>
{% endblock %}

{% block content %}

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-default btn-primary btn-xs" href="{{url_for('ivr.ivr_add')}}"><i class="glyphicon glyphicon-plus"></i> Add</a></p>
  <p class="text-right"><a data-url="{{url_for('ivr.ivr_save')}}" class="btn btn-default btn-xs confirm" data-toggle="modal" data-target="#upload-dialplan-dialog"><i class="glyphicon glyphicon-upload"></i> Upload</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th style="width: 130px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for i in ivr %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.created_time }}</td>
        <td>
          <a data-url="{{url_for('ivr.ivr_show', id=i.id)}}" class="btn btn-default btn-xs" id="{{ i.id }}" data-toggle="modal" data-target="#dialplan-dialog"><i class="glyphicon glyphicon-eye-open"></i></a>
          <a href="{{url_for('ivr.ivr_export', id=i.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download"></i></a>
          <a href="{{url_for('ivr.ivr_edit', id=i.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
          <a data-url="{{url_for('ivr.ivr_del', id=i.id)}}" class="btn btn-default btn-xs confirm" data-toggle="modal" data-target="#confirm-dialog"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% include "confirm.html" %}
{% include "ivr_show.html" %}
{% include "ivr_upload.html" %}

<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>

{% endblock %}
