{% extends "base.html" %}

{% block header %}
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery-ui.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery.jsPlumb-1.5.2.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/jquery.ui-contextmenu.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('ivr.static', filename='js/ivr.js') }}"></script>
    <link rel="stylesheet" media="screen" href="{{ url_for('ivr.static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('ivr.static', filename='css/ivr.css') }}">
{% endblock %}

{% block content %}
    {% include 'toolbar.html' %}
    {% block ivr_toolbar %}
    {% endblock %}

{% block ivr_content %}
<div id="ivr" class="span8">
</div>
{% endblock %}

<div class="hidden dialog nodes_config">

    {% for act in actions %}
        <div id="{{ act }}" class="node_config" title="{{ actions[act].title }}" width="{{ actions[act].width }}" height="{{ actions[act].height }}">
        {% for input in actions[act].input %}
            <div>{{ actions[act].input[input] }}</div>
            <div><input type="text" name="{{ input }}" class="input-xlarge" /></div>
        {% endfor %}
        {% for textarea in actions[act].textarea %}
            <div>{{ actions[act].textarea[textarea] }}</div>
            <div><textarea name="{{ textarea }}" class="input-xlarge"></textarea></div>
        {% endfor %}
        </div>
    {% endfor %}

    <div id="save">
        <form method="post" action="#">
            <input type="text" name="connections" />
            <input type="text" name="entities" />
            <input type="text" name="vars" />
        </form>
    </div>

    <div id="reset">
        There may be unsaved data.
        All your unsaved data will be lost.
        Are you sure about this? 
    </div>

    <div id="on_what_digit">
        <div>Digit</div>
        <div><input type="text" name="digit" /></div>
    </div>

    <div id="on_what_name">
        <div>Name</div>
        <div><input type="text" name="name" /></div>
        <div>Context name</div>
        <div><em>xivo-cloud-ivr-</em><input type="text" name="context" /></div>
    </div>

    <div id="dialog"></div>

</div>

{% include "ivr_show.html" %}
{% endblock %}
