<div>
   <button class="save btn btn-default btn-sm btn-success"><i class="glyphicon glyphicon-file"></i> Save</button>
   <button class="reset btn btn-default btn-sm btn-danger"><i class="glyphicon glyphicon-ban-circle icon-white"></i> Reset</button>
   {% if id is defined %}
   <a data-url="{{url_for('ivr.ivr_check', id=id)}}" class="btn btn-default btn-sm dialplan-check" id="{{ id }}" data-toggle="modal" data-target="#dialplan-dialog"><i class="glyphicon glyphicon-ok"></i> Check</a>
   <a data-url="{{url_for('ivr.ivr_show', id=id)}}" class="btn btn-default btn-sm dialplan-show" id="{{ id }}" data-toggle="modal" data-target="#dialplan-dialog"><i class="glyphicon glyphicon-eye-open"></i> Show</a>
   {% endif %}

</div>

<br>

<div id="toolbar" class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Basic</a></li>
        <li><a href="#tab2" data-toggle="tab">Wait</a></li>
        <li><a href="#tab3" data-toggle="tab">Goto</a></li>
        <li><a href="#tab4" data-toggle="tab">Monitor</a></li>
        <li><a href="#tab5" data-toggle="tab">Db</a></li>
        <li><a href="#tab6" data-toggle="tab">Cel</a></li>
        <li><a href="#tab7" data-toggle="tab">Advanced</a></li>
        <li><a href="#tab8" data-toggle="tab">Fun</a></li>
    </ul>
    <div class="tab-content">
       <div class="tab-pane active" id="tab1">
           <div action="start" class="nodes icon source unique"><img src="{{ url_for('ivr.static', filename='images/start.png') }}" title="start"/></div>
           <div action="answer" class="nodes icon source target unique"><img src="{{ url_for('ivr.static', filename='images/answer.png') }}" title="answer"/></div>
           <div action="hangup" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/hangup.png') }}" title="hangup"/></div>
           <div action="prompts" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/prompt.png') }}" title="prompts"/></div>
           <div action="voicemail" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/voicemail.png') }}" title="voicemail"/></div>
           <div action="dial" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/dial.png') }}" title="dial"/></div>
           <div action="directory" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/directory.png') }}" title="directory"/></div>
           <div action="comment" class="nodes icon unique comment"><img src="{{ url_for('ivr.static', filename='images/comment.png') }}" title="comment"/></div>
       </div>
       <div class="tab-pane" id="tab2">
           <div action="wait" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/wait.png') }}" title="wait"/></div>
           <div action="wait4digits" class="nodes icon source target unique"><img src="{{ url_for('ivr.static', filename='images/wait4digits.png') }}" title="wait4digits"/></div>
           <div action="wait4ring" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/wait4ring.png') }}" title="wait4ring"/></div>
           <div action="wait4music" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/wait4music.png') }}" title="wait4music"/></div>
           <div action="wait4silence" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/wait4silence.png') }}" title="wait4silence"/></div>
       </div>
       <div class="tab-pane" id="tab3">
           <div action="goto" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/goto.png') }}" title="goto"/></div>
           <div action="gotoif" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/gotoif.png') }}" title="gotoif"/></div>
           <div action="gotoiftime" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/gotoiftime.png') }}" title="gotoiftime"/></div>
           <div action="switchivr" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/switchivr.png') }}" title="switchivr"/></div>
           <div action="gosub" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/gosub.png') }}" title="gosub"/></div>
           <div action="return" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/return.png') }}" title="return"/></div>
       </div>
       <div class="tab-pane" id="tab4">
           <div action="monitor" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/monitor.png') }}" title="monitor"/></div>
           <div action="monitorstop" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/monitorstop.png') }}" title="monitorstop"/></div>
           <div action="monitorpause" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/monitorpause.png') }}" title="monitorpause"/></div>
           <div action="monitorunpause" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/monitorunpause.png') }}" title="monitorunpause"/></div>
       </div>
       <div class="tab-pane" id="tab5">
           <div action="dbexists" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/dbexists.png') }}" title="dbexists"/></div>
           <div action="dbget" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/dbget.png') }}" title="dbget"/></div>
           <div action="dbput" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/dbput.png') }}" title="dbput"/></div>
           <div action="dbdel" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/dbdel.png') }}" title="dbdel"/></div>
           <div action="dbdeltree" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/dbdeltree.png') }}" title="dbdeltree"/></div>
       </div>
       <div class="tab-pane" id="tab6">
           <div action="celgenuser" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/celgenuser.png') }}" title="celgenuser"/></div>
       </div>
       <div class="tab-pane" id="tab7">
           <div action="execute" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/execute.png') }}" title="execute"/></div>
           <div action="debug" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/debug.png') }}" title="debug"/></div>
           <div action="authenticate" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/authenticate.png') }}" title="authenticate"/></div>
           <div action="read" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/read.png') }}" title="read"/></div>
           <div action="setvar" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/setvar.png') }}" title="setvar"/></div>
           <div action="busy" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/busy.png') }}" title="busy"/></div>
           <div action="congestion" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/congestion.png') }}" title="congestion"/></div>
           <div action="language" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/language.png') }}" title="language"/></div>
           <div action="saydigits" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/saydigits.png') }}" title="saydigits"/></div>
           <div action="callerid" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/callerid.png') }}" title="callerid"/></div>
           <div action="agi" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/agi.png') }}" title="agi"/></div>
           <div action="voicemailmain" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/voicemailmain.png') }}" title="voicemailmain"/></div>
       </div>
       <div class="tab-pane" id="tab8">
           <div action="rosette" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/rosette.png') }}" title="rosette"/></div>
           <div action="monkey" class="nodes icon target"><img src="{{ url_for('ivr.static', filename='images/monkey.png') }}" title="monkey"/></div>
           <div action="konami" class="nodes icon source target"><img src="{{ url_for('ivr.static', filename='images/konami.png') }}" title="konami"/></div>
       </div>
    </div>
</div>
