{% extends "base.html" %}
{% block content %}

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-default btn-primary btn-xs" href="{{url_for('devices.add')}}"><i class="glyphicon glyphicon-plus"></i> Add</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th style="width: 15px;"></th>
        <th>Mac</th>
        <th>Ip</th>
        <th>Vendor</th>
        <th>Model</th>
        <th>Plugin</th>
        <th style="width: 130px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for d in devices %}
      {% if d.status == "configured" %}
          {% set icon_status = "registration-mark" %}
      {% endif %}
      {% if d.status == "autoprov" %}
          {% set icon_status = "record" %}
      {% endif %}
      {% if d.status == "not_configured" %}
          {% set icon_status = "remove-circle" %}
      {% endif %}
      <tr>
      <td title="{{d.status}}"><i class="glyphicon glyphicon-{{ icon_status }}"></i></td>
      <td>{{ d.mac }}</td>
      <td>{{ d.ip }}</td>
      <td>{{ d.vendor }}</td>
      <td>{{ d.model }}</td>
      <td>{{ d.plugin }}</td>
      <td class="td-actions">
        <a href="{{url_for('devices.synchronize', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-refresh"></i></a>
        <a href="{{url_for('devices.autoprov', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-flash"></i></a>
        <a href="{{url_for('devices.edit', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('devices.delete', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
