{% extends "base.html" %}
{% block content %}

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-default btn-primary btn-xs" href="{{url_for('devices.add')}}"><i class="glyphicon glyphicon-plus"></i> Add</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>id</th>
        <th>Mac</th>
        <th>Plugin</th>
        <th>Template</th>
        <th style="width: 70px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for d in devices %}
      <tr>
      <td>{{ d.id }}</td>
      <td>{{ d.mac }}</td>
      <td>{{ d.plugin }}</td>
      <td>{{ d.template_id }}</td>
      <td class="td-actions">
        <a href="{{url_for('devices.edit', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('devices.delete', id=d.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
