{% extends "base.html" %}
{% block content %}

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-primary btn-small" href="{{url_for('devices.add')}}"><i class="icon-plus icon-white"></i> Add</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>id</th>
        <th>Mac</th>
        <th>Plugin</th>
        <th>Template</th>
      <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for d in devices %}
      <tr>
      <td>{{ d.id }}</td>
      <td>{{ d.mac }}</td>
      <td>{{ d.plugin }}</td>
      <td>{{ d.template_id }}</td>
      <td class="td-actions">
        <a href="{{url_for('devices.edit', id=d.id)}}" class="btn btn-small"><i class="btn-icon-only icon-edit"></i></a>
        <a href="{{url_for('devices.delete', id=d.id)}}" class="btn btn-small"><i class="btn-icon-only icon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
