{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('amazon.provider_add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Key') }}</th>
        <th>{{ _('SSH Key') }}</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for l in list %}
      <tr>
        <td>{{ l.name }}</td>
        <td>{{ l.access_key }}</td>
        <td>{{ l.key_name }}</td>
        <td>
          <a href="{{url_for('amazon.provider_edit', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
          <a href="{{url_for('amazon.provider_delete', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
