{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Edit Amazon configuration') }}</h2>
        {{ render_field(form.name, class="input-xlarge") }}
        {{ render_field(form.access_key, class="input-xlarge") }}
        {{ render_field(form.secret_key, class="input-xlarge") }}
        {{ render_field(form.key_name, class="input-xlarge") }}
        {{ render_field(form.ssh_key, class="input-xlarge") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

{% endblock %}

