{% extends "base.html" %}

{% block header %}
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/jquery-ui.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/strophejingle.bundle.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/colibri.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/muc.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/estos_log.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/smileys.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/replacement.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/jquery-impromptu.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/jquery.autosize.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/config.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/prezi_player.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('jitmeet.static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" media="screen" href="{{ url_for('jitmeet.static', filename='css/main.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('jitmeet.static', filename='css/jquery-impromptu.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('jitmeet.static', filename='css/modaldialog.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('jitmeet.static', filename='css/font-awesome.css') }}">
{% endblock %}

{% if current_user.is_anonymous %}
    {% block anonymous_content %}
        {% include "jitmeet_video_guest.html" %}
    {% endblock %}
{% else %}
    {% block content %}
        {% include "jitmeet_video.html" %}
    {% endblock %}
{% endif %}
