{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Add Openstack configuration') }}</h2>
        {{ render_field(form.name, class="input-xlarge") }}
        {{ render_field(form.login, class="input-xlarge") }}
        {{ render_field(form.password, class="input-xlarge") }}
        {{ render_field(form.tenant, class="input-xlarge") }}
        {{ render_field(form.api_url, class="input-xlarge") }}
        {{ render_field(form.image_name, class="input-xlarge") }}
        {{ render_field(form.flavor, class="input-xlarge") }}
        {{ render_field(form.subnet_name, class="input-xlarge") }}
        {{ render_field(form.keypair_name, class="input-xlarge") }}
        {{ render_field(form.keypair_private) }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

{% endblock %}

