{% extends "base.html" %}
{% block content %}

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-default btn-primary btn-xs" href="{{url_for('openstack.provider_add')}}"><i class="glyphicon glyphicon-plus"></i> {{_('Add') }}</a></p>
  <table class="table table-bordered table-striped table-highlight tablesorter" id="servers-table">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Tenant') }}</th>
        <th>{{ _('API') }}</th>
        <th>{{ _('Login') }}</th>
        <th style="width: 70px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for l in list %}
      <tr>
      <td>{{ l.name }}</td>
      <td>{{ l.tenant }}</td>
      <td>{{ l.api_url }}</td>
      <td>{{ l.login }}</td>
      <td>
        <a href="{{url_for('openstack.provider_edit', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('openstack.provider_delete', id=l.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
