{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ _('Edit Openstack configuration') }}</h4>
    </div>
    <div class="panel-body">
      <div class="well well-xs col-md-6">
        <form class="form" role="form" method="post">
            {{ form.csrf_token }}
            {{ render_field(form.name, with_label=1) }}
            {{ render_field(form.login, with_label=1) }}
            {{ render_field(form.password, with_label=1) }}
            {{ render_field(form.tenant, with_label=1) }}
            {{ render_field(form.api_url, with_label=1) }}
            {{ render_field(form.image_name, with_label=1) }}
            {{ render_field(form.flavor, with_label=1) }}
            {{ render_field(form.subnet_name, with_label=1) }}
            {{ render_field(form.keypair_name, with_label=1) }}
            {{ render_field(form.keypair_private) }}
            {{ render_field(form.submit, class="btn btn-primary") }}
        </form>
      </div>
    </div>
</div>

{% endblock %}
