.node { 
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:70px; 
    height:70px;
    line-height:63px;
    text-align:center;
    z-index:20;
    position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;padding:0.5em;
    font-size:0.9em;
}

.node:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.node-icon-action-remove {
    float: right;
    cursor: pointer;
}

.node-icon-action-wrench {
    float: left;
    cursor: pointer;
}

.hidden {
    display: none;
}

.comment.dropped_icon {
    width: 300px;
    height: 150px;
}

#textarea-comment {
  margin: -1.5px 0 0 -1px;
}

.icon.ui-draggable {
    width: 40px;
    height: 40px;
}

.aLabel {
 	background-color:white; 
	padding:0.4em; 
	font:12px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: pointer;
}
.aLabel._jsPlumb_hover {
	background-color:#5C96BC;
	color:white;	
	border:1px solid white;
}

.dropped_icon{
    background: #fff;
}

.icon_selected{
    background: #c4c4c4;
}

#toolbar div.nodes, .dropped_icon{
    float: left;
    margin: 2px;
    margin-top: 10px;
    padding: 2px;
    border: 2px outset #c4c4c4;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
}

#toolbar div{
    background: transparent;
}

#toolbar div .icon :hover{
    background: #fff;
}

#ivr_name{
    float:right;
    margin-right: 5%;
}

.endpoint {
    width: 70px;
    height: 8px;
    background-color: rgb(221, 72, 20);
    cursor: pointer;
    margin: -4px 0px 0px -4px;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
}

#ivr {
    width: 95%;
    height: 600px;
    background: url('/app.plugins.ivr.setup/images/grid.png') rgb(153, 153, 153);
    border: 1px solid;
    margin-top: 4%;
    margin-left: 0px;
}
