{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('voicemails.add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Mailbox</th>
        <th>Email</th>
        <th>Password</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for v in voicemails %}
      <tr>
      <td>{{ v.name }}</td>
      <td>{{ v.number }}</td>
      <td>{{ v.email }} </td>
      <td>{{ v.password }} </td>
      <td>
        <a href="{{url_for('voicemails.edit', id=v.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('voicemails.delete', id=v.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  {% include "table-footer.html" %}
  </table>
</div>

{% endblock %}
