{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-primary btn-small" href="{{url_for('users.add')}}"><i class="icon-plus icon-white"></i> Add</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for u in users %}
      <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.firstname }} {{ u.lastname }} </td>
      <td class="td-actions">
        <a href="{{url_for('users.edit', id=u.id)}}" class="btn btn-small"><i class="btn-icon-only icon-edit"></i></a>
        <a href="{{url_for('users.delete', id=u.id)}}" class="btn btn-small"><i class="btn-icon-only icon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>


{% endblock %}
