{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">

      <form class="form" method="post" name="user/edit">
        {{ userform.csrf_token }}
        <h2 class="form">Edit user</h2>
        {{ render_field(userform.firstname, class="input-xlarge",placeholder="Firstname") }}
        {{ render_field(userform.lastname, class="input-xlarge",placeholder="Lastname") }}
        {{ render_field(userform.username, class="input-xlarge",placeholder="Username") }}
        {{ render_field(userform.password, class="input-xlarge",placeholder="Password") }}
        <button class="btn btn-primary" type="submit">Submit</button>

      </form>

    </div>

{% endblock %}
