{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('extensions.add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>Extension</th>
        <th>Context</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for v in extensions %}
      <tr>
      <td>{{ v.exten }}</td>
      <td>{{ v.context }}</td>
      <td>
        <a href="{{url_for('extensions.edit', id=v.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="{{url_for('extensions.delete', id=v.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  {% include "table-footer.html" %}
  </table>
</div>

{% endblock %}
