{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('addressbook.configure_ldap_server') %}
{% set name_url_add = "Configure" %}
{% set icon_url_add = "wrench" %}
{% set role_url_add = 300 %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Firstname') }}</th>
        <th>{{ _('Lastname') }}</th>
        <th>{{ _('Internal phone') }}</th>
        <th>{{ _('Phone number') }}</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% if addressbook %}
    {% for a in addressbook %}
      <tr>
        <td>{{ a.givenname }}</td>
        <td>{{ a.sn }}</td>
        <td><a href="tel: {{ a.internalphone }}">{{ a.internalphone }}</a></td>
        <td><a href="tel: {{ a.phonenumber }}">{{ a.phonenumber }}</a></td>
        <td>
          <a href="{{url_for('addressbook.show', uid=a.uid)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  {% include "table-footer.html" %}
  </table>
</div>

{% endblock %}
